$detact-font-family: "DetactFont";

$df-table-asc: "\e991";
$df-table-desc: "\e992";
$df-bulk-action: "\e993";
$df-toggle_grid: "\e994";
$df-toggle_table: "\e995";
$df-asset: "\e99a";
$df-database: "\e99e";
$df-cup-fill: "\e98b";
$df-cup: "\e98c";
$df-night-shift: "\e987";
$df-late-shift: "\e988";
$df-early-shift: "\e989";
$df-dashboard-key-value: "\e97b";
$df-dashboard-summary: "\e97b";
$df-dashboard-text: "\e97b";
$df-dashboard-status: "\e976";
$df-dashboard-table: "\e969";
$df-dashboard-chart: "\e977";
$df-status-running: "\f21e";
$df-status-connect: "\f0c1";
$df-status-disconnect: "\f127";
$df-message-unknown: "\f059";
$df-status-unknown: "\f059";
$df-message-info: "\f05a";
$df-message-warning: "\f06a";
$df-message-error: "\f057";
$df-message-okay: "\f058";
$df-note-help: "\e96b";
$df-note-info: "\e96c";
$df-note-warning: "\e96e";
$df-note-error: "\e96a";
$df-note-okay: "\e96d";
$df-dashboard-layout-one: "\f0c8";
$df-dashboard-layout-two: "\f009";
$df-dashboard-layout-three: "\f00a";
$df-column-one: "\e963";
$df-column-two: "\e964";
$df-column-three: "\e968";
$df-column-four: "\e973";
$df-column-five: "\e974";
$df-column-six: "\e975";
$df-app-ramp-up: "\e996";
$df-app-device-monitor: "\e94a";
$df-app-processexploration: "\e978";
$df-app-machineconfig: "\e979";
$df-app-componenthistory: "\e97a";
$df-app-componenthistory-compare: "\e97e";
$df-app-parametermonitoring: "\e936";
$df-app-analysis-portal: "\e98e";
$df-app-data-hub: "\e98e";
$df-app-compare: "\e997";
$df-share: "\f123";
$df-start: "\f126";
$df-code: "\f125";
$df-regular-expression: "\f122";
$df-case-sensitive: "\f124";
$df-shop: "\f003";
$df-contact: "\f004";
$df-mail: "\f005";
$df-table: "\e96f";
$df-details: "\f00c";
$df-lock: "\e960";
$df-lock-open: "\e900";
$df-export: "\e962";
$df-dashboard: "\e958";
$df-grid: "\e958";
$df-axis-off: "\e959";
$df-axis-on: "\e95a";
$df-image: "\e95b";
$df-move-vertical: "\e951";
$df-move-horizontal: "\e970";
$df-move-all-left: "\e971";
$df-move-all-right: "\e972";
$df-arrow-n: "\e965";
$df-move-up: "\e965";
$df-arrow-s: "\e966";
$df-move-down: "\e966";
$df-arrow-e: "\e961";
$df-move-right: "\e961";
$df-arrow-w: "\e967";
$df-move-left: "\e967";
$df-bell: "\e952";
$df-legend-off: "\e953";
$df-legend-on: "\e954";
$df-select-all: "\e9a5";
$df-radio-unchecked: "\e948";
$df-radio-checked: "\e949";
$df-radio-checked-alt: "\e955";
$df-radio-unchecked-alt: "\e99b";
$df-checkbox-unchecked: "\e901";
$df-checkbox-checked: "\e902";
$df-axis-auto: "\e93d";
$df-axis-user: "\e93e";
$df-opt-in: "\e93f";
$df-opt-out: "\e940";
$df-undo: "\e933";
$df-redo: "\e939";
$df-reload: "\e939";
$df-visible: "\e93a";
$df-invisible: "\e938";
$df-filter-on: "\e931";
$df-filter-off: "\e94b";
$df-clock-on: "\e907";
$df-clock-off: "\e947";
$df-settings: "\e932";
$df-gear: "\e90c";
$df-color: "\e941";
$df-legend: "\f00b";
$df-align-down: "\e92f";
$df-align-up: "\e930";
$df-angle-down: "\e903";
$df-angle-left: "\e904";
$df-angle-right: "\e905";
$df-angle-up: "\e906";
$df-arrows: "\f047";
$df-arrows-se: "\f048";
$df-arrows-sw: "\f049";
$df-close-up: "\e908";
$df-open-up: "\e911";
$df-close: "\e909";
$df-folder: "\e90b";
$df-goto: "\e90d";
$df-ellipsis-v: "\e90f";
$df-ellipsis-h: "\e945";
$df-plus: "\e912";
$df-minus: "\e910";
$df-calendar: "\e934";
$df-calendar-today: "\e99d";
$df-user: "\e913";
$df-multi-user: "\e990";
$df-info: "\e90e";
$df-question: "\e914";
$df-check: "\e90a";
$df-ban: "\e99c";
$df-warning: "\e93b";
$df-bolt: "\f0e7";
$df-search: "\e917";
$df-zoom: "\e980";
$df-zoom-x: "\e981";
$df-zoom-y: "\e982";
$df-star-fill: "\e918";
$df-star: "\e919";
$df-edit: "\e97f";
$df-pencil: "\e98f";
$df-multi-edit: "\e937";
$df-copy: "\e935";
$df-save: "\e916";
$df-trash: "\e91a";
$df-back: "\e942";
$df-forward: "\e915";
$df-download: "\e944";
$df-upload: "\e946";
$df-upload-debug: "\e97d";
$df-logout: "\e94c";
$df-full-timerange: "\e94e";
$df-left-timerange: "\e94f";
$df-right-timerange: "\e950";
$df-play: "\e998";
$df-filter: "\e999";
$df-load: "\e943";
$df-detact: "\e91b";
$df-dashboard-progress: "\e98a";
$df-chart-progress: "\e98a";
$df-dashboard-pie: "\e98d";
$df-chart-pie: "\e98d";
$df-chart-heatmap: "\e983";
$df-chart-scatter: "\e984";
$df-dashboard-column: "\e985";
$df-chart-column: "\e985";
$df-chart-boxplots: "\e986";
$df-chart-arrow: "\e95c";
$df-alphanumeric: "\e91c";
$df-numeric: "\e91d";
$df-unknown: "\e91e";
$df-dots-alphanumeric: "\e91f";
$df-dots-numeric: "\e920";
$df-dots-unknown: "\e921";
$df-marker: "\e922";
$df-chart-range: "\e923";
$df-chart-alarm: "\e924";
$df-chart-columnrange: "\e93c";
$df-chart-boxplot: "\e925";
$df-chart-triangle: "\e926";
$df-chart-triangle-down: "\e927";
$df-chart-circle: "\e928";
$df-chart-cross: "\e929";
$df-chart-empty: "\e92a";
$df-chart-plus: "\e92b";
$df-chart-diamond: "\e92c";
$df-chart-star: "\e92d";
$df-chart-square: "\e92e";
$df-column-sortable: "\e95d";
$df-column-sortable-down: "\e95e";
$df-column-sortable-up: "\e95f";
$df-smallangle-down: "\e94d";
$df-smallangle-left: "\e956";
$df-smallangle-right: "\e957";
$df-smallangle-up: "\e97c";

